@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}
@keyframes scrollUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.animate-scroll {
  animation: scrollUp 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.menu-btn {
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  background: #f3f4f6;
  font-weight: 500;
}

.menu-btn:hover {
  background: #2563eb;
  color: white;
}

.input {
  @apply border p-2 rounded w-full text-sm md:text-base;
}